/* JAY Xu ShengKai*/
:root {
    --primary-color: #074489; 
    --secondary-color: #b1b9bf; 
    --white: hsl(0, 0%, 100%);
    --black: #322323;
}

/* Style code, using theme colors */
body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

.page {
    display: none;
    padding: 35px;
    border: 6px solid var(--secondary-color);
    margin: 35px;
    background-color: var(--white);
    border-radius: 15px; /*JAY */
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product, .cart {
        width: calc(50% - 10px);
        text-align: center;
        border: 2px solid var(--secondary-color);
        padding: 5px;
        margin-bottom: 10px;
        background-color: var(--white);
        border-radius: 5px;
    }
.cart {
    width: 100%;
    margin-top: 10px;
}

.cart-item {
    margin-bottom: 50px;
}

header {
    background-color: var(--primary-color);
    padding: 15px;
    color: var(--white);
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: var(--primary-color);
    color: var(--white);
}

button {
    background-color: #9ee8ad;
}

.logo img {
    max-width: 130px; 
    height: auto; 
}

.logo {
    position: absolute; 
    top: 0; 
    left: 0;
}
.address-image {
    max-width: 120%;
    height: auto;}